div{
  width: 400px;
  margin: 20px;
  height: 90px;
  background: yellow;
  border: 1px solid red;
  padding: 8px;
}
#one p{
  background: green;
  position: relative;
  left:0px;
  top:0;
}
#two{
  margin: 0px;
  position: absolute;
  top:2px;
}
